

.container {
	min-height: 500px;
	min-width: 1000px;
}

body {
	background: #111;
	font-family: 'Share Tech', sans-serif;
	color: #111;
	margin: 0;
	overflow: hidden;
}

body.light {
	background-color: #FFF;
}

.palette {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -10000px;
	left: 0;
}

.active {
	top: 0;
}

h1 {
	margin: 0;
	position: absolute;
	top: 200px;
	right: 150px;
	text-align: right;
	font-weight: normal;
}

.title {
	text-decoration: none;
	font-size: 1.5em;
	color: #FFF;
	font-family: 'Mystery Quest', sans-serif;
	display: block;
}

.light .title {
	color: #111;
}

h1 small {
	color: #FFF;
}

.light h1 small{
	color: #111;
}

.color {
	width: 30%;
	position: relative;
	transition: width .2s;
}

.color.active {
	width: 33%;
}

.color span {
	-webkit-transform: rotate(-90deg);
	position: absolute;
	right: -45px;
	top: 50px;
	z-index: 1;
	font-size: 1.1em;
	cursor: default;
	font-family: monospace;
	color: #333;
}

.light .color span {
	color: #DDD;
}

svg {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

svg path {
	fill: #111;
}

.buttons {
	position: absolute;
	bottom: 80px;
	right: 30px;
	z-index: 10;
	text-align: center;
}

.btn {
	border: 0;
	padding: 5px 22px;
	margin: 0;
	line-height: 1;
	outline: 0;
	background: none;
	color: #AAA;
	background-color: #222;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.btn:hover {
	color: #FFF;
}

.btn:active {
	color: #000;
}

.btn[disabled] {
	color: #444;
}

.light .btn {
	background-color: #EEE;
	color: #999;
}
.light .btn:hover {
	color: #666;
}
.light .btn:active {
	color: #CCC;
}
.light .btn[disabled] {
	color: #CCC;
}

.btn i {
	font-size: 40px;
	line-height: 1;
}

.tools {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 10;
	text-align: center;
}

.tools .btn {
	padding: 10px;
}

.tools i {
	font-size: 20px;
}

::selection{
	background-color: transparent;
	color: #FFF;
}
::-moz-selection {
	background-color: transparent;
	color: #FFF;
}

.light ::selection{
	color: #000;
}
.light ::-moz-selection {
	color: #000;
}

.big-fat-btn {
	display: block;
	padding: 10px;
	text-align: center;
	color: #CF0C54;
	font-size: 5em;
	cursor: pointer;
	text-decoration: none;
	text-align: left;
	background-color: #010000;
	transition: font-size .2s;
}

.big-fat-btn:hover {
	color: #F2075D;
	font-size: 8em;
}

.bookmarks {
	padding: 20px;
}

.bookmarks > * {
	margin: 1px 0;
}