

.search {
	background-color: #000;
	padding: 10px 30px;
	margin: 20px 0 1px;
}

.search button {
	background: none;
	border: 0;
	font-size: 32px;
	color: #4A0000;
	cursor: pointer;
	/*margin-right: 10px;*/
	padding: 0;
	transition: color .2s;
	line-height: 1;
}

.search button:hover {
	color: #FFF !important;
}

.search button:focus {
	outline: 0;
	color: #4A0000;
}

.q-lover input {
	background-color: #8A9684;
}

.q-lover label {
	color: #8A9684;
}

.q-hue input {
	background-color: #C5D0B3;
}

.q-hue label {
	color: #C5D0B3;
}

.q-hex input {
	background-color: #E0EDCA;
}

.q-hex label {
	color: #E0EDCA;
}

.q-keywords input {
	background-color: #E5D996;
}

.q-keywords label {
	color: #E5D996;
}

.q-order select {
	background-color: #E9BA84;
}

.q-order label {
	color: #E9BA84;
}

.color-preview div {
	background-color: #111;
	width: 16%;
	height: 34px;
	line-height: 36px;
	margin-right: 4%;
	float: left;
	text-align: center;
	font-size: 1.2em;
	border: 1px solid #444;
}

.color-preview :last-child {
	margin: 0;
	/*width: 20%;*/
}

.color-preview i {
	background-color: #FFF;
	border-radius: 50%;
}