

<div class="search" search data-function="search">
	<div class="row">

		<div class="col-md-3 color-preview hidden-xs" id="color-preview">
			<div pcolor></div>
			<div pcolor></div>
			<div pcolor></div>
			<div pcolor></div>
			<div pcolor></div>
		</div>

		<div class="col-md-3">
			<div class="q-hex text-center">
				<!-- <label>hex</label><br> -->
				<input type="text" id="q-hex" class="form-control" tabindex="1" placeholder="FFCACA, 333333" qhex>
			</div>
		</div>
		<div class="col-md-3 hidden-xs">
			<button droplet><i class="icon-droplet"></i></button>
			<button ng-click="search();" tabindex="6"><i class="icon-search"></i></button>
			<button ng-click="reset();" ng-show="results.length" tabindex="7"><i class="icon-cross2"></i></button>
		</div>
		
	</div>
</div>

<div id="color-picker-wrap" class="color-picker-wrap">
	<canvas width="1140" height="400" id="canvas_picker" class="color-picker" colorpicker></canvas>
</div>

<header style="background-color:{{color.toCSS()}}">
	<div class="values" ng-show="results.length">
		<div>Hue: {{color.getHue()}}</div>
		<div>Saturation: {{color.getSaturation()}}</div>
		<!-- <div>Value: {{color.getValue()}}</div> -->
		<div>Lightness: {{color.getLightness()}}</div>
		<!-- <div>Alpha: {{color.getAlpha()}}</div> -->
		<br><br><div>Luminance: {{color.getLuminance()}}</div>
	</div>
	<div class="sliders" ng-show="results.length">
		<div data-val="{{color.getHue()}}" qhue></div>
		<div data-val="{{color.getSaturation()}}" qsaturation></div>
		<!-- <div data-val="{{color.getValue()}}" qvalue></div> -->
		<div data-val="{{color.getLightness()}}" qlightness></div>
		<!-- <div data-val="{{color.getAlpha()}}" qalpha></div> -->
	</div>
	<span><i class="icon-heart2"></i></span>
</header>

<div ng-show="results.length">
	<!-- <div class="alert alert-info">http://www.colourlovers.com/api/palettes{{q}}</div> -->
	<div ng-repeat="palette in results" class="q-palette" ng-show="palette.colors.length" qpalette>
		<div class="q-result-title">
			<!-- <a href="/#/palettes/{{palette.id}}" target="_blank">{{palette.title}}</a> -->
			{{palette.title}}
		</div>
		<div class="q-colors clearfix">
			<div class="q-color" ng-repeat="color in palette.colors" style="background:{{color.toCSS()}};width:{{100 / palette.colors.length}}%;">
				<span qclip class="clip" data-clipboard-text="{{color.toCSS()}}">{{color.toCSS()}}</span>
			</div>
		</div>
	</div>
	<!-- <button ng-click="search(offset+per_page)" class="btn btn-default btn-block btn-lg">Load More</button> -->
	<!-- <br><br> -->
</div>

<div ng-include="'views/shared/footer.html'"></div>