

<div class="buttons">
	<button btn ng-disabled="active == 0" ng-click="active=active-1">
		&larr;
	</button>
	<button btn ng-disabled="active == palettes.length - 1" ng-click="active=active+1">
		&rarr;
	</button>
</div>

<div ng-repeat="palette in palettes" class="palette" ng-class="{'active': $index == active}">
	<h1><a class="title" href="{{palette.url}}" target="blank">{{palette.title}}</a> <small>by {{palette.userName}}</small></h1>
	<div color class="color" ng-repeat="color in palette.colors" style="background:#{{color}};">
		<span>#{{color}}</span>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="31%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<path d="m100 0 l-20 0 c20 0 20 100 0 100 l20 100  z"></path>
	</svg>
</div>