

<div class="palette active">
	
	<h1><a class="title" href="{{palette.url}}" target="blank">{{palette.title}}</a> <small>by {{palette.userName}}</small></h1>
	
	<div color class="color" ng-repeat="color in palette.colors" style="background:#{{color}};height:{{100/palette.colors.length}}%;">
		<span qclip class="clip" data-clipboard-text="#{{color}}">#{{color}}</span>
	</div>
	
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="31%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
		<path d="m100 0 l-20 0 c20 0 20 100 0 100 l20 100  z"></path>
	</svg>
	
	<div class="tools">
		<a class="btn-icon" href="/#/"><i class="icon-search"></i></a>
		<button class="btn-icon" light><i class="icon-light-bulb"></i></button>
		<button class="btn-icon"><i class="icon-twitter"></i></button>
	</div>

</div>