

<div ng-show="!results.length">
	<div class="page-header">
		<h2>Search</h2>
	</div>
	<div class="form-group">
		<label>lover</label><br>
		<input type="text" id="q-lover" class="form-control">
	</div>
	<div class="form-group">
		<label>hue</label><br>
		<input type="text" id="q-hue" class="form-control">
		<small class="form-help">Possible Values can be a combination of: red, orange, yellow, green, aqua, blue, violet, and / or fuchsia</small>
	</div>
	<div class="form-group">
		<label>hex</label><br>
		<input type="text" id="q-hex" class="form-control">
		<small class="form-help">Possible Values: any valid 6-char hex value or list of up to five (5) hex values, separated by commas</small>
	</div>
	<!--
	<div class="form-group">
		<label>hex-logic</label><br>
		<input type="text" id="q-hex-logic">
	</div>
	-->
	<div class="form-group">
		<label>keywords</label><br>
		<input type="text" id="q-keywords" class="form-control">
	</div>
	<!--
	<div class="form-group">
		<label>keywords-exact</label><br>
		<input type="text" id="q-keywords-exact">
	</div>
	-->
	<div class="form-group">
		<label>order</label><br>
		<div class="row">
			<div class="col-md-2">
				<select id="q-order" class="form-control">
					<option value="dateCreated">Date Created</option>
					<option value="score">Score</option>
					<option value="name">Name</option>
					<option value="numVotes">Votes</option>
					<option value="numViews">Views</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group text-right">
		<a href="/#/" class="btn-icon"><i class="icon-arrow-left"></i></a>
		<button class="btn-icon" ng-click="search()"><i class="icon-search"></i></button>
		<!-- <span ng-show="results_length == 0" class="text-danger">No Results</span> -->
	</div>
</div>

<div ng-show="results.length">
	<div class="page-header">
		<h2>Results <small ng-click="results=[]" class="btn btn-link">search again</small></h2>
	</div>
	<!-- <div class="alert alert-info">http://www.colourlovers.com/api/palettes{{q}}</div> -->
	<div ng-repeat="palette in results" class="q-palette" ng-show="palette.colors.length">
		<div class="q-result-title">
			<a href="{{palette.url}}" target="blank">{{palette.title}} <small>by {{palette.userName}}</small></a>
		</div>
		<div class="q-colors clearfix">
			<div qcolor class="q-color" ng-repeat="color in palette.colors" style="background:#{{color}};width:{{100 * palette.colorWidths[$index]}}%;">
				<span qclip class="clip" data-clipboard-text="#{{color}}">#{{color}}</span>
			</div>
		</div>
	</div>
	<button ng-click="search(offset+per_page)" class="btn btn-default btn-block btn-lg">Load More</button>
	<br><br>
</div>